
.page{
  background:rgba(31, 37, 51, 0.8);
  min-height:100vh;
  text-align: center;
}

.main{
  background:rgb(31, 37, 51);
}

@media screen and (min-width: 900px) {
  .main{
    margin:auto;
    width:70%;
  }
  
}

.profilehead, .pagehead{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:30vh;
  background: rgba(31, 37, 51, 0.8);
  box-shadow: 0px 10px 10px ;
  width:100%;
}




.profiletext{
  font-family: Myriad Pro;
  text-align:center;
  width:75%;
}

.profilename{
  
  font-size: clamp(20px, 5vw, 30px);
  color:yellow;
}

.profiledesc{
  font-size:clamp(15px, 3vw, 20px);
  color:white;
}

.profilephotocontainer{
  height:100%;
  /* width:auto; */
  text-align: center;
}

.profilephoto{
  height:100%;
  width:auto;
  /* position:absolute; */
  /* top:0; */
  /* right:0; */
}

.section{
  margin:4vw 2vw;
}

@media (min-width: 900px) {
  .section{
    width:80%;
    margin:4vw 5vw;
  }
  
}

.sectionheader{
  font-size:clamp(15px, 3vw, 25px);
  color:white;
  margin:1vw 2vw;
}

.sectiontext{
  margin:7vw 3vw;
  padding: 0 5vw;
  font-size:clamp(12px, 2vw, 15px);
  color:white;
  /* margin:0 1vw; */
}

.techbadges{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  padding:0 5vw;
  justify-content: space-between;
}

.skillbadgecontainer{
  display:flex;
  flex-direction: row ;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.techbadge{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 5px;
  width:20vw;
  min-height:20vw;
  margin:1vw;
  padding:1vw;
  background:rgba(77,77,77,0.3);
  font-size: 10px;
  color:white;
}

@media (min-width: 900px) {
  .techbadge{
    width:12vw;
    min-height:12vw;
    font-size: 12px;
  }
}

.skillname{
  text-align: center;
  font-size:clamp(10px, 2vw, 20px);
}

.portfoliocontainer{
  margin:2vw 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:0 3vw;
}

.portfolioitem{
  position:relative;
  width:45%;
}

.portfolioimg{
  width:100%;
  height:auto;
  filter:brightness(70%)
}

.portfoliotext{
  position:absolute;
  width:100%;
  text-align: center;
  top:30%;
  font-size:clamp(12px, 3vw, 40px);
  color:white;
}

.contactcontainer{
  height:10vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background: yellow;
  color: black;
  font-size: 20px;
}

.imagesections{
  display:flex;
  flex-direction:column
}

@media (min-width: 900px) {
  .imagesections{
    flex-direction:row;
  }
}

.imagesection{
  display:flex;
  flex-direction: column;
  margin:1vw;
}

.videosections{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin:4vw 2vw; */
  width:100vw;
}

@media (min-width:900px){
  .videosection{
    flex-direction: row;
  }
}

.videosection{
  margin:0;
}