.canvasOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1030px;
  height: 579px;
  margin: auto;
  display: flex;
  z-index: 99;
  background: rgba(255, 255, 255, 0.2);
}

.canvasOverlaySchool {
  /* background: purple; */
  position: absolute;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  width: 1030px;
  height:100%;
  aspect-ratio: 16/9;
  /* height: 579px; */
  margin: auto;
  z-index: 99;
  /* background: rgba(255, 255, 255, 0.2); */
}

.button {
  border: 4px lightgray solid;
  border-top: 0;
  border-left: 0;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.sceneContainer {
  text-align: center;
  /* height: 100vh; */
  width: 100%;
  background: #282c34;
  /* padding: 10% 0; */
}
